In [20]:
import pandas as pd
import numpy as np
import openai
import os

# Use GPT to gather data about the nyt authors

In [64]:
nyt_single = pd.read_csv("nyt_single_authors.csv")
nyt_single.head()

,year,week,rank,title_id,title,author,multiple,problem
0,1931,1931-10-12,1,6477,THE TEN COMMANDMENTS,Warwick Deeping,False,False
1,1931,1931-10-12,2,1808,FINCHE'S FORTUNE,Mazo de la Roche,False,False
2,1931,1931-10-12,3,5304,THE GOOD EARTH,Pearl S. Buck,False,False
3,1931,1931-10-12,4,4038,SHADOWS ON THE ROCK,Willa Cather,False,False
4,1931,1931-10-12,5,3946,SCARMOUCHE THE KING MAKER,Rafael Sabatini,False,False

In [44]:
#make a list of all the authors
nyt_single_authors = nyt_single.author.unique()
nyt_single_authors_five = nyt_single_authors[:5]

In [58]:
myapikey = open('my_gpt_apikey.txt').readline().rstrip()

client = openai.OpenAI(api_key = myapikey)

df = pd.DataFrame(columns=['birth','death','race_eth','education', 'institution'], index= nyt_single_authors)

for author in nyt_single_authors:
    completion = client.chat.completions.create(
        model="gpt-4o-mini",
        messages=[
            {"role": "system", "content": """You are a literary historian. 
            You reply with only the requested information, not a complete sentence, and no headers. 
            If you do not know information, fill it in with None.
            If an author is still living, fill in the death year with N/A.
            For example, if the author is Chimamanda Ngozi Adichie, you would return: 1977, N/A, Nigerian, Master's Degree, Johns Hopkins University"""},
            {
                "role": "user",
                "content": """What is the birth year, death year, race/ethnicity, highest level of education, and 
                college or university of """+author
            }
        ]
    )
    my_response = completion.choices[0].message.content
    #print(my_response)
    response_list = my_response.split(',')
    df.loc[author] = pd.Series({'birth':response_list[0],'death':response_list[1],'race_eth':response_list[2],'education':response_list[3], 'institution':response_list[4]})


print(df)
os.system('say "your program has finished"')

                 birth  death             race_eth           education  \
Warwick Deeping   1877   1950              English                None
Mazo de la Roche  1879   1961             Canadian                None
Pearl S. Buck     1892   1973            Caucasian               Ph.D.
Willa Cather      1873   1947             American   Bachelor's Degree
Rafael Sabatini   1875   1950              Italian                None
...                ...    ...                  ...                 ...
Lana Del Rey      1985    N/A                White                None
Matt Haig         1975    N/A                White   Bachelor's Degree
Rumaan Alam       1977    N/A   Pakistani-American   Bachelorâ€™s Degree
Susie Yang        1983    N/A       Asian American                 MFA
Halsey            1994    N/A                White   Bachelor's Degree

                                      institution
Warwick Deeping                              None
Mazo de la Roche                             None
Pearl S. Buck                  Cornell University
Willa Cather       University of Nebraska-Lincoln
Rafael Sabatini                              None
...                                           ...
Lana Del Rey                                 None
Matt Haig                      University of Kent
Rumaan Alam                University of Michigan
Susie Yang               University of California
Halsey              Rhode Island School of Design

[2020 rows x 5 columns]

0